    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/images/elclasico.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/images/oliver.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/images/inazuma.jpg" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="/images/cristianoronaldo.jpg" class="d-block w-100">
            </div>
        </div>
    </div>
<div class="container">
    <div class="text-center">
        <div class="row align-items-center">
            <h1 class="display-1 text-success col-md-12">CityFootie</h1>
        </div>
    </div>
    <hr>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <h3>Siente la calle en cada jugada</h3>
                <p>Esta es la comunidad de para todos aquellos que quieren disfrutar del deporte en cualquier lugar</p>
            </div>
            <div class="col-md-6">
                <h3>Unete a partidos en tu ciudad</h3>
                <p>Asiste con tu grupo de amigos o conoce mas amantes del futbol</p>
            </div>
        </div>
    </div> 
    
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>