<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <title>{{appTitle}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

   <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">HOME</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               {{#unless response.logged}}
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/registrarse">Registrarse</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/iniciar-sesion">Iniciar Sesion</a>
               </li>

               {{/unless}}
               {{#if response.logged}}
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/cerrar-sesion">Cerrar Sesion</a>
               <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/mapa">Mapa</a>
               </li>
               {{/if}}
               <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                     aria-expanded="false">
                     Dropdown
                  </a>
                  <ul class="dropdown-menu">
                     <li><a class="dropdown-item" href="#">Action</a></li>
                     <li><a class="dropdown-item" href="#">Another action</a></li>
                     <li>
                        <hr class="dropdown-divider">
                     </li>
                     <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
               </li>
               <li class="nav-item">
                  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
               </li>
            </ul>
            <form class="d-flex" role="search">
               <a href="/usuarios/perfil" class="btn btn-outline-success">Mi Perfil</a>
            </form>
         </div>
      </div>
   </nav>

   {{{body}}}

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
   <script src="/js/script.js"></script>
</body>

</html>