<div class="container mt-5">
    <h1>CAMPOS DE FUTBOL</h1>
    <hr>

    <figure id="map"></figure>

    <div class="mt-3">
        <a href="/campos/crear" class="btn btn-primary mt-5">Crear Campo</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=init"></script>