#map {
    height: 550px;
    background-color: lightgray;
}

#myCarousel {
    height: 450px;
}

#myCarousel img {
    height: 450px;
    object-fit: cover;
}

#myCarousel .bottom img {
    object-position: bottom;
}

/* // best seen at 1500px or less */

html,
body {
    height: 100%;
}

body {
    background: radial-gradient(ellipse at center, rgba(199, 224, 206, 1) 0%, rgba(199, 224, 206, 1) 35%, #AADDBB 100%);
    overflow: hidden;
}

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
    /* Dark Sea Green */
    z-index: -3;
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    z-index: -2;
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
    z-index: -2;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}