<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            {{#with field}}
            <h1>edita partido en el campo:{{name}}</h1>
            {{/with}}

            <form action="/partidos/anadir/{{_id}}" method="post">
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Añadir jugador</button>
                </div>
            </form>

            <hr>
            <form action="/partidos/editar/{{_id}}" method="POST">
                <div class="mb-3">
                    <label for="date" class="form-label">Fecha y hora</label>
                    <input type="date" class="form-control" id="date" name="date">
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-dark">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>